body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* background-color: grey; */
}
html{
    width: 100%;
    height: 100%;
}
#header_div{
    height: 15%;
    width: 100%;
    box-shadow: 0px 15px black;
}
header{
    position: fixed;
    background-color: #BF2527;
    color: white;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
}
header > div{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
#search_holder{
    margin-left: 30%;
    width: 40%;
}
#search{
    border-radius: 30px;
    border: 0;
    width: 100%;
    height: 50%;
    background-color: #2C3D3D;
    color: white;
    text-indent: 20px;
    font-size: 100%;
}
#buttons{
    width: 15%;
    float: right;
}
.entry_buttons{
    color: white;
    border:1px solid white;
    border-radius: 15px;
    height: 90%;
    width: 50%;
    margin-right: 5%;
    background-color: #BF2527;
}
.entry_buttons:hover{
    background-color: white;
    color: black;
}
#body{
    height: 100%;
    width: 100%;
    background-color: grey;
}
#user_menu{
    margin-left: 5%;
    margin-top: 5%;
    width: 20%;
    height: 60%;
    position: fixed;
    z-index: 99;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: -12px -13px 5px 0px black;
    background-color: white;
}
#user_menu > a{
    top: 5%;
    height: 10%;
    padding-left: 5%;
    padding-top: 5%;
    display: block;
    /* text-align: center; */
}
#user_menu > a:hover{
    background-color: grey;
}