#header{
    position: absolute;
    width: 1539px;
    height: 90px;
    left: 0px;
    top: -14px;
    
    background: #BF2527;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#search{
    position: absolute;
width: 429px;
height: 40px;
left: 505px;
top: 30px;

background: #2C3D3D;
border-radius: 15px;
}

#footer{
    position: absolute;
width: 1539px;
height: 90px;
left: 0px;
top: 900px;

background: #2C3D3D;
}

#profiletop {
    position: absolute;
width: 800px;
height: 200px;
left: 320px;
top: 134px;

background: #FFFFFF;
border: 1px solid #AAAAAA;
box-sizing: border-box;
border-radius: 3px;
}

#profilebot{
    position: absolute;
width: 800px;
height: 436px;
left: 320px;
top: 355px;

background: #FFFFFF;
border: 1px solid #AAAAAA;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}

#avatar{
    position: absolute;
width: 170px;
height: 170px;
left: 332px;
top: 149px;

background: #C4C4C4;
}