<div id="header">
    <div id="logo_container">
        <a id="logo" routerLink="">ITmeetups</a>
    </div>
    <div id="search_container">
        <input id="search" type="search" />
    </div>
    <div id="register_login_button_container">
        <input value="Войти" id="login" class="entry_buttons" type="button" routerLink="" />
        <input value="Регистрация" id="register" class="entry_buttons" type="button" routerLink="/register" />
    </div>
</div>
<div id="body">
    <div id="profile_main_holder">
        <table id="profile_table">
            <tr>
                <td>
                    <img id="profile_image" src="assets/a.png" />
                    <div id="user_name">
                        <label>Вася Пупкин</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="info_container">
                      <!-- I DUNNO HOW -->
                        <tr id="first_row">
                            <td>
                                <label>Возраст: 24</label>
                            </td>
                            <td>test</td>
                            <td>test2</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Ранг: 1</label>
                            </td>
                            <td>test</td>
                            <td>test2</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Статей: 1000</label>
                            </td>
                            <td>test</td>
                            <td>test2</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Навыки: пхп</label>
                            </td>
                            <td>test</td>
                            <td>test2</td>
                            <td>больше контента в будущем</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table id="profile_buttons">
            <tr>
                <td>
                    <input class="user_buttons" value="Настройки" type="button" />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="user_buttons" value="тест" type="button" />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="user_buttons" value="Выход" type="button" />
                </td>
            </tr>
        </table>
        <!-- <div id="profile_name">
        </div> -->
    </div>
</div>