body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: grey;
}
html{
    width: 100%;
    height: 100%;
}
#header_div{
    height: 15%;
    width: 100%;
}
header{
    position: fixed;
    background-color: #BF2527;
    color: white;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
}
header > div{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
#search_holder{
    margin-left: 30%;
    width: 40%;
}
#search{
    border-radius: 30px;
    border: 0;
    width: 100%;
    height: 50%;
    background-color: #2C3D3D;
    color: white;
    text-indent: 20px;
    font-size: 100%;
}
#buttons{
    width: 15%;
    float: right;
}
.entry_buttons{
    color: white;
    border:1px solid white;
    border-radius: 15px;
    height: 90%;
    width: 50%;
    margin-right: 5%;
    background-color: #BF2527;
}
.entry_buttons:hover{
    background-color: white;
    color: black;
}
#body{
    height: 100%;
    width: 100%;
    background-color: grey;
}
#user-menu{
    margin-left: 5%;
    margin-top: 5%;
    width: 20%;
    height: 70%;
    position: fixed;
    z-index: 99;
    border-radius: 15px;
    box-shadow: -12px -13px 5px 0px black;
    background-color: white;
}
#user-menu > a{
    height: 10%;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 2%;
    display: block;    
}
#user-menu > a:hover{
    background-color: grey;
} 
#event_space{
    padding-top: 5%;
    margin-left: 25%;
    width: 40%;
    height: 100%;
}
.detailed_event_box{
    /* margin-top: 10%; 
    padding-bottom: 10%; */
    margin-left: 15%;
    margin-bottom: 10%;
    width: 100%;
    height: 60%;
    background-color: white;
    box-shadow: -12px -13px 5px 0px black;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid white;
    background-size: auto 100%;
    background-position: center;
}
.event_box{
    /* margin-top: 10%; 
    padding-bottom: 10%; */
    margin-left: 15%;
    margin-bottom: 10%;
    width: 100%;
    height: 50%;
    background-color: white;
    box-shadow: -12px -13px 5px 0px black;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid white;
    background-size: auto 100%;
    background-position: center;
}
.comment-box{
    margin-left: 15%;
    margin-bottom: 10%;
    width: 100%;
    /* height: 20%; */
    background-color: white;
    box-shadow: -12px -13px 5px 0px black;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid white;
    background-size: auto 100%;
    background-position: center;
}
.comment{
    padding-top: 10px;
    display: flex;
    text-align: right;
}

.box1{
    background-image: linear-gradient(to top,black,  transparent), url("tenders.jpg"); 
}
.box2{
    background-image: linear-gradient(to top, black, transparent), url("hackday.png");
}

.profile {
    margin: 20px 0;
  }
  
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #DD1422;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usermenu {
    margin-top: 30px;
}
  
.profile-usermenu ul li {
    border-bottom: 1px solid #F7F0F0;
}

.profile-usermenu ul li a {
    color: #860000;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #0E0000;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
 }



 #respond {
    margin-top: 40px;
  }
  
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    
    border: 1px solid rgba(0, 0, 0, 0.1);    
    border-radius: 5px;
    
    line-height: 1.4em;
}