<div id="header">
    <div id="logo_container">
        <a id="logo" routerLink="">ITmeetups</a>
    </div>
    <div id="search_container">
        <input id="search" type="search" />
    </div>
    <div id="register_login_button_container">
        <input value="Войти" id="login" class="entry_buttons" type="button" routerLink="" />
        <input value="Регистрация" id="register" class="entry_buttons" type="button" routerLink="/register" />
    </div>
</div>
<div id="body">
    <div id="body_wrapper">
        <div id="main_event">
            <div id="event_name_holder">
                <div id="event_name">
                    <label>Hackday 2019</label>
                </div>
            </div>
            <div id="img_holder">
                <img id="event_image" src="assets/hackday.png" />
            </div>
            <div id="table_holder">
                <table id="event_table">
                    <tr>
                        <td class="event_description">
                            <label>дата: 09.09.19</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="event_description">
                            <label>Количество участников: 400/400</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="event_description">
                            <a href="#">Официальный сайт</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>