<div id="header">
    <div id="logo_container">
        <a id="logo" routerLink="">ITmeetups</a>
    </div>
    <div id="search_container">
        <input id="search" type="search" />
    </div>
    <div id="register_login_button_container">
        <input value="Войти" id="login" class="entry_buttons" type="button" routerLink="" />
        <input value="Регистрация" id="register" class="entry_buttons" type="button" routerLink="/register" />
    </div>
</div>
<div id="body">
    <div id="main_event">
        <table id="event_table">
            <tr id="name_row">
                <td colspan="2">
                    <label id="name">Hackday 2019 (20.12.2019)</label>
                </td>
            </tr>
            <tr style="justify-content: center; height: 30%;">
                <td id="main_info_image">
                    <!-- <input type="button" /> -->
                </td>
                <td>
                    <table id="info_table">
                        <tr>
                            <td>
                                <label class="info_text">Дата: 20.12.2019</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="info_text">Количество участников: 400/400</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="info_text" href="#">Официальный сайт</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <input id="apply" value="Найти команду" type="button" />
                </td>
                <td>
                    <input id="invite" value="Пригласить друзей" type="button" />
                </td>
            </tr>
        </table>
    </div>>
</div>