<div id="header">
    <div id="logo_container">
        <a id="logo" routerLink="">ITmeetups</a>
    </div>
    <div id="search_container">
        <input id="search" type="search" />
    </div>
    <div id="register_login_button_container">
        <input value="Войти" id="login" class="entry_buttons" type="button" routerLink="" />
        <input value="Регистрация" id="register" class="entry_buttons" type="button" routerLink="/register" />
    </div>
</div>
<div id="body">
    <div id="user_menu">
        <table id="menu_table">
            <tr class="menu_table_row">
                <td>
                    <input value="Профиль" id="profile" class="menu_button" type="button" routerLink="/profile" />
                </td>
            </tr>
            <tr>
                <td>
                    <input value="test" class="menu_button" type="button" routerLink="/profile" />
                </td>
            </tr>
            <tr>
                <td>
                    <input value="test" class="menu_button" type="button" routerLink="/profile" />
                </td>
            </tr>
            <tr>
                <td>
                    <input value="test" class="menu_button" type="button" routerLink="/profile" />
                </td>
            </tr>
            <tr>
                <td>
                    <!-- FIX -->
                    <input value="test" id="last" class="menu_button" type="button" routerLink="/profile" />
                </td>
            </tr>
        </table>
    </div>
    <div id="main_content">
        <!-- MAKE IT DYNAMICALLY CHANGE COLORS DEPENDING ON A BACKGROUND -->
        <h1 id="goryachenkoe">Горяченькое:</h1>
        <input value="Подробнее" class="about_event" type="button" routerLink="/aboutEvent" />
    </div>
    <!-- <div id="filters"> -->

    <!-- </div> -->
</div>