
    <div id="header_div">
      <header>
          <div style='color: white; position:absolute; top:20%; left: 20%'>kjuf</div>
          <div id="search_holder">
              <input type="search" id="search"/>
          </div>
          <div id="buttons">
              <!-- <input type="button" value="Sign up" class="entry_buttons" style="border: 0;"> -->
              <input routerLink="/register" type="button" value="Sign in" class="entry_buttons">
          </div>
      </header>
  </div>
  <div id="body">
      <div id="user_menu">
          <a style="border-radius: 15px 15px 0px 0px;" routerLink="/profile">Profile</a>
          <a>test1</a>
          <a>test2</a>
          <a>test3</a>
          <a>test4</a>
          <a>test5</a>
      </div>
      <div id="event_space">
          <div class="event_box box1">
              <input routerLink="/aboutEvent" class="more" type="button" value="Подробнее"/>
          </div>
          <div class="event_box box2">
              <input routerLink="/aboutEvent" class="more" type="button" value="Подробнее"/>
          </div>
      </div>
      <div id="filtering_menu">
          <label>
              <input class="filters" type="radio"/>
              test1
          </label>
          <label>
              <input class="filters" type="radio"/>
              test2
          </label>
          <label>
              <input class="filters" type="radio"/>
              test3
          </label>
          <label>
              <input class="filters" type="radio"/>
              test4
          </label>
          <label>
              <input class="filters" type="radio"/>
              test5
          </label>
      </div>
  </div>